<h1>Seja Bem-vindo</h1>
<p>Anderson Vieira</p>

<p>A soma é: <%= 1 + 1 %></p>
<p>Seu nome ao contrário: <%= "Anderson".reverse %></p>

<p>New date <%= Date.today %></p>

<%# Forma de comentar no ruby %>
<% a = "Jubileu" %>
<p>Aqui temos o <%= a %></p>