* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem 2rem;
}

body,
input,
textarea,
button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image_coin {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-edit-coin {
  display: flex;
  align-items: end;
  gap: 5px;
}